server:
  port: 8080

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  cors:
    allowed-origins: "${CORS_ALLOWED_ORIGINS:http://localhost,http://backend,http://frontend}"
    allowed-methods:
      - GET
      - POST
      - PUT
      - DELETE
      - OPTIONS
    allowed-headers:
        - Origin
        - Content-Type
        - Accept
        - Authorization
        - X-Requested-With
    exposed-headers:
        - Content-Length
        - Content-Type
        - Cache-Control
        - Expires
        - Pragma
    allow-credentials: true
    max-age: 3600